@charset "UTF-8";
/*images*/
/*=======================START-MEDIA=====================*/
/*=======================END-MEDIA=====================*/
/* media breakpoint mixin */
/* Single property transition mixin */
/*--------- font-face ---------*/
@font-face {
  font-family: "GothamPro";
  font-display: swap;
  src: url("../fonts/GothamPro/GothamPro.woff") format("woff"), url("../fonts/GothamPro/GothamPro.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Muller";
  font-display: swap;
  src: url("../fonts/Muller/MullerRegular.woff") format("woff"), url("../fonts/Muller/MullerRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Muller";
  font-display: swap;
  src: url("../fonts/Muller/MullerMedium.woff") format("woff"), url("../fonts/Muller/MullerMedium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Muller";
  font-display: swap;
  src: url("../fonts/Muller/MullerBold.woff") format("woff"), url("../fonts/Muller/MullerBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #fff;
  text-rendering: optimizeLegibility;
  -webkit-text-decoration-skip: objects;
          text-decoration-skip: objects;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  min-width: 320px;
  overflow-x: hidden;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  min-height: 100%;
}

html, body {
  height: 100%;
}

audio,
video {
  display: block;
}

section {
  max-width: 100%;
}

a {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a img {
  border: none;
}

ul, ol {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style-type: none;
}

img {
  max-width: 100%;
  display: block;
  border-style: none;
}

input,
textarea,
select {
  vertical-align: middle;
}

form, fieldset {
  margin: 0;
  padding: 0;
  border-style: none;
  width: 100%;
}

input[type="search"],
input[type="text"],
input[type="file"],
input[type="password"],
input[type="submit"],
input[type="email"],
input[type="tel"],
textarea, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  resize: none;
  outline: none;
}

input[type="email"] {
  box-shadow: none;
  -webkit-box-shadow: none;
}

input[type="image"] {
  padding: 0;
  border: none;
}

input[type="submit"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input[type="submit"],
input[type="button"] {
  cursor: pointer;
}

input[type="submit"]:focus,
input[type="button"]:focus {
  outline: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button,
input[type=email]::-webkit-inner-spin-button,
input[type=email]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

button:focus {
  outline: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

p, span, label, h1, h2, h3, h4, h5, h6, b, strong, i, em {
  max-width: 100%;
  word-wrap: break-word;
  white-space: normal;
  margin: 0;
}

div {
  word-wrap: break-word;
  white-space: normal;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

iframe {
  border: none;
}

input::-ms-clear {
  display: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

button {
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  padding: 0px;
}

.text-clip {
  white-space: nowrap;
  /* Отменяем перенос текста */
  overflow: hidden;
  /* Обрезаем содержимое */
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.grid {
  display: grid;
}

.grid__col-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid__col-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid__col-4 {
  grid-template-columns: repeat(4, 1fr);
}

.grid__col-5 {
  grid-template-columns: repeat(5, 1fr);
}

.grid__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.grid__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.grid__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hidden {
  display: none !important;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.tac {
  text-align: center;
}

body {
  font-family: 'Muller';
  font-size: 14px;
  line-height: 1.43;
  color: rgba(31, 35, 69, 0.85);
}

@media only screen and (min-width: 1200px) {
  body {
    font-size: 18px;
    line-height: 1.44;
  }
}

.container {
  max-width: 1540px;
  padding-left: 30px;
  padding-right: 30px;
  margin: auto;
}

.content a {
  color: #071D72;
  position: relative;
}

*:focus, *:focus-visible {
  outline: none !important;
}

h1, h2, h3, h4, h4, h6, .h1-title, .h2-title, .h3-title, .h4-title, .h5-title, .h6-title {
  display: block;
}

h1, .h1-title {
  font-family: 'GothamPro', sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.19;
}

@media only screen and (min-width: 1200px) {
  h1, .h1-title {
    font-size: 65px;
    line-height: 0.94;
  }
}

h2, .h2-title {
  font-family: 'GothamPro', sans-serif;
  font-weight: 400;
  color: #071D72;
  margin-bottom: 24px;
  font-size: 24px;
  line-height: 1.08;
}

@media only screen and (min-width: 1200px) {
  h2, .h2-title {
    font-size: 48px;
    line-height: 1.08;
  }
}

h3, .h3-title {
  font-weight: 700;
  color: #071D72;
  font-size: 18px;
  line-height: 1.06;
}

@media only screen and (min-width: 1200px) {
  h3, .h3-title {
    font-size: 20px;
    line-height: 1.45;
  }
}

h4, .h4-title {
  font-weight: 700;
  color: #071D72;
  font-size: 14px;
  line-height: 1.57;
}

@media only screen and (min-width: 1200px) {
  h4, .h4-title {
    font-size: 18px;
    line-height: 1.44;
  }
}

b, .bold {
  font-family: 'Muller', sans-serif;
  font-weight: 700;
  color: #071D72;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.37)), to(rgba(0, 0, 0, 0.37))), rgba(0, 0, 0, 0.37);
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.37), rgba(0, 0, 0, 0.37)), rgba(0, 0, 0, 0.37);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.37), rgba(0, 0, 0, 0.37)), rgba(0, 0, 0, 0.37);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.overlay.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.section {
  padding: 50px 0px;
}

@media only screen and (min-width: 1200px) {
  .section {
    padding: 60px 0px;
  }
}

table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: -3px 6px 19px rgba(0, 0, 0, 0.12);
          box-shadow: -3px 6px 19px rgba(0, 0, 0, 0.12);
  border-collapse: collapse;
}

table th,
table td {
  padding: 0px;
}

table tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 5px;
}

table tr td,
table tr th {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

table thead,
table caption {
  background-color: #ECF5FB;
}

table tbody tr {
  border-bottom: 1px dashed #C8CCE1;
}

.icon {
  fill: currentColor;
  stroke: currentColor;
}

.icon__stroke {
  fill: rgba(255, 255, 255, 0);
}

.header {
  padding: 20px 0px;
}

.header .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 1199px) {
  .header .logo img {
    width: 147px;
  }
}

.header .menu {
  display: none;
}

@media only screen and (min-width: 1200px) {
  .header .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__modal {
  padding-top: 64px;
  max-width: 276px;
  height: 100vh;
  -webkit-transform: translateX(100%) scaleX(0%);
      -ms-transform: translateX(100%) scaleX(0%);
          transform: translateX(100%) scaleX(0%);
  position: absolute;
  right: 0px;
  top: 0px;
  background-color: #fff;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 1000;
  width: 100%;
}

.header__modal.is-open {
  -webkit-transform: translateX(0%) scaleX(100%);
      -ms-transform: translateX(0%) scaleX(100%);
          transform: translateX(0%) scaleX(100%);
}

.header__modal .menu {
  display: block;
}

.header__modal-close {
  position: absolute;
  right: 16px;
  top: 23px;
  width: 33px;
  height: 33px;
}

.header__burger {
  line-height: 0;
}

@media only screen and (min-width: 1200px) {
  .header__burger {
    display: none;
  }
}

.menu {
  -webkit-box-shadow: 0px 5px 15px 1px silver;
          box-shadow: 0px 5px 15px 1px silver;
}

@media only screen and (min-width: 1200px) {
  .menu {
    -webkit-box-shadow: none;
            box-shadow: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  @supports ((-moz-column-gap: 38px) or (column-gap: 38px)) {
    .menu {
      -webkit-column-gap: 38px;
         -moz-column-gap: 38px;
              column-gap: 38px;
    }
  }
  @supports not ((-moz-column-gap: 38px) or (column-gap: 38px)) {
    .menu {
      margin-right: calc( 0px - (38px / 2));
      margin-left: calc( 0px - (38px / 2));
    }
    .menu > * {
      margin-right: calc(38px / 2);
      margin-left: calc(38px / 2);
    }
  }
}

.menu__item {
  -webkit-box-shadow: 0px -5px 10px -10px silver;
          box-shadow: 0px -5px 10px -10px silver;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media only screen and (min-width: 1200px) {
  .menu__item {
    padding: 0px;
    -webkit-box-shadow: none;
            box-shadow: none;
    position: relative;
  }
}

@media only screen and (min-width: 1200px) and (any-hover: hover) {
  .menu__item {
    -webkit-transition-duration: 0.3s;
         -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-timing-function: ease-in-out;
         -o-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
  }
  .menu__item:hover > a {
    color: #2746B5;
  }
  .menu__item:hover .menu__level-2 {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .menu__item:hover .icon {
    -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
}

.menu__item .icon {
  -webkit-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
}

@media only screen and (max-width: 1199px) {
  .menu__item .icon {
    width: 16px;
    height: 16px;
  }
}

.menu__item a {
  padding: 9px 0px 9px 22px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.86;
  color: #071D72;
  -webkit-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
}

@media only screen and (min-width: 1200px) {
  .menu__item a {
    font-size: 22px;
    line-height: 1;
    padding: 10px 0px;
    color: #1F2345;
  }
}

.menu__arrow {
  width: 22px;
  height: 22px;
  margin-left: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
}

.menu__arrow.is-active .icon {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

@media only screen and (max-width: 1200px) {
  .menu__active {
    background-color: #071D72;
    color: #fff;
  }
  .menu__active a {
    color: inherit;
    pointer-events: none;
  }
}

.menu__level-2 {
  -webkit-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
  -webkit-box-shadow: inset 0px 3px 10px -5px silver;
          box-shadow: inset 0px 3px 10px -5px silver;
  width: 100%;
  padding: 9px 0px;
  z-index: 50;
  background: #fff;
}

@media only screen and (min-width: 1200px) {
  .menu__level-2 {
    margin-left: 0px;
    -webkit-box-shadow: none;
            box-shadow: none;
    min-width: 0px;
    min-width: 246px;
    width: 100%;
    border-top: 1px solid #071D72;
    position: absolute;
    bottom: 0px;
    padding: 0px;
    -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%);
            transform: translateY(100%);
    left: -35px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    -webkit-box-shadow: -3px 6px 19px rgba(0, 0, 0, 0.12);
            box-shadow: -3px 6px 19px rgba(0, 0, 0, 0.12);
  }
}

@media only screen and (max-width: 1199px) {
  .menu__level-2 {
    opacity: 0;
    -webkit-transform: scaleY(0);
        -ms-transform: scaleY(0);
            transform: scaleY(0);
    visibility: hidden;
    position: absolute;
    width: 0px;
    pointer-events: none;
    max-height: 0;
    -webkit-transform-origin: top;
        -ms-transform-origin: top;
            transform-origin: top;
  }
  .menu__level-2.is-open {
    width: 100%;
    position: static;
    max-height: 1000px;
    -webkit-transform: scaleY(1);
        -ms-transform: scaleY(1);
            transform: scaleY(1);
    visibility: visible;
    pointer-events: auto;
    opacity: 1;
    -webkit-transition: 0.5s ease-in-out visibility, 0.5s ease-in-out opacity, 0.3s ease-in-out visibility, 0.3s ease-in-out transform;
    -o-transition: 0.5s ease-in-out visibility, 0.5s ease-in-out opacity, 0.3s ease-in-out visibility, 0.3s ease-in-out transform;
    transition: 0.5s ease-in-out visibility, 0.5s ease-in-out opacity, 0.3s ease-in-out visibility, 0.3s ease-in-out transform;
  }
}

.menu__level-2 .menu__item {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.menu__level-2 .menu__item a {
  color: #1F2345;
}

@media only screen and (min-width: 1200px) {
  .menu__level-2 .menu__item {
    padding: 20px 33px;
  }
}

@media only screen and (min-width: 1200px) and (any-hover: hover) {
  .menu__level-2 .menu__item {
    -webkit-transition-duration: 0.3s;
         -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-timing-function: easy;
         -o-transition-timing-function: easy;
            transition-timing-function: easy;
  }
  .menu__level-2 .menu__item:hover {
    background-color: #ECF5FB;
  }
  .menu__level-2 .menu__item:hover a {
    color: #071D72;
    font-weight: 700;
  }
}

@media only screen and (min-width: 1200px) {
  .menu__level-2 .menu__item a {
    -webkit-transition: inherit;
    -o-transition: inherit;
    transition: inherit;
  }
}

.footer {
  border-top: 26px solid #071D72;
  padding-top: 16px;
}

@media only screen and (min-width: 1200px) {
  .footer {
    border-top-width: 48px;
    padding-top: 28px;
  }
}

.footer .logo {
  margin-bottom: 22px;
  display: block;
}

@media only screen and (min-width: 1200px) {
  .footer .logo {
    margin-bottom: 33px;
  }
}

@media only screen and (max-width: 1199px) {
  .footer .logo {
    width: 147px;
  }
  .footer .logo img {
    height: auto;
  }
}

.footer .row {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .footer .row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  @supports ((-moz-column-gap: 20px) or (column-gap: 20px)) {
    .footer .row {
      -webkit-column-gap: 20px;
         -moz-column-gap: 20px;
              column-gap: 20px;
    }
  }
  @supports not ((-moz-column-gap: 20px) or (column-gap: 20px)) {
    .footer .row {
      margin-right: calc( 0px - (20px / 2));
      margin-left: calc( 0px - (20px / 2));
    }
    .footer .row > * {
      margin-right: calc(20px / 2);
      margin-left: calc(20px / 2);
    }
  }
}

.footer__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 214px;
  margin-bottom: 43px;
}

@supports ((-moz-column-gap: 50px) or (column-gap: 50px)) {
  .footer__left {
    -webkit-column-gap: 50px;
       -moz-column-gap: 50px;
            column-gap: 50px;
  }
}

@supports not ((-moz-column-gap: 50px) or (column-gap: 50px)) {
  .footer__left {
    margin-right: calc( 0px - (50px / 2));
    margin-left: calc( 0px - (50px / 2));
  }
  .footer__left > * {
    margin-right: calc(50px / 2);
    margin-left: calc(50px / 2);
  }
}

@supports (row-gap: 28px) {
  .footer__left {
    row-gap: 28px;
  }
}

@supports not (row-gap: 28px) {
  .footer__left {
    margin-top: -28px;
  }
  .footer__left > * {
    margin-top: 28px;
  }
}

@media only screen and (min-width: 768px) {
  .footer__left {
    max-width: 500px;
    margin-bottom: 0px;
  }
}

@media only screen and (min-width: 1200px) {
  .footer__left {
    max-width: 626px;
  }
  @supports ((-moz-column-gap: 65px) or (column-gap: 65px)) {
    .footer__left {
      -webkit-column-gap: 65px;
         -moz-column-gap: 65px;
              column-gap: 65px;
    }
  }
  @supports not ((-moz-column-gap: 65px) or (column-gap: 65px)) {
    .footer__left {
      margin-right: calc( 0px - (65px / 2));
      margin-left: calc( 0px - (65px / 2));
    }
    .footer__left > * {
      margin-right: calc(65px / 2);
      margin-left: calc(65px / 2);
    }
  }
  @supports (row-gap: 37px) {
    .footer__left {
      row-gap: 37px;
    }
  }
  @supports not (row-gap: 37px) {
    .footer__left {
      margin-top: -37px;
    }
    .footer__left > * {
      margin-top: 37px;
    }
  }
}

.footer__item a {
  font-size: 14px;
  line-height: 1;
  font-weight: 500;
  color: #1F2345;
}

@media (any-hover: hover) {
  .footer__item a {
    -webkit-transition-duration: 0.3s;
         -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-timing-function: easy;
         -o-transition-timing-function: easy;
            transition-timing-function: easy;
  }
  .footer__item a:hover {
    color: #2746B5;
  }
}

@media only screen and (min-width: 1200px) {
  .footer__item a {
    font-size: 18px;
  }
}

.footer__right .h4-title {
  line-height: 1;
  margin-bottom: 14px;
}

.footer__social-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@supports ((-moz-column-gap: 10px) or (column-gap: 10px)) {
  .footer__social-row {
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
  }
}

@supports not ((-moz-column-gap: 10px) or (column-gap: 10px)) {
  .footer__social-row {
    margin-right: calc( 0px - (10px / 2));
    margin-left: calc( 0px - (10px / 2));
  }
  .footer__social-row > * {
    margin-right: calc(10px / 2);
    margin-left: calc(10px / 2);
  }
}

.footer__social-item a {
  width: 55px;
  height: 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (min-width: 1200px) {
  .footer__social-item a {
    width: 96px;
    height: 55px;
  }
}

.footer__social-item a img {
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (max-width: 1199px) {
  .footer__social-item a img {
    width: 17px;
    height: 17px;
  }
}

.footer__copy {
  margin-left: -30px;
  padding: 13px 30px;
  min-width: calc(100% + 30px * 2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 1px solid rgba(31, 35, 69, 0.34);
  margin-top: 43px;
  position: relative;
  font-size: 12pxpx;
  line-height: 1.67;
}

@media only screen and (min-width: 1200px) {
  .footer__copy {
    margin-top: 43px;
    margin-left: 0px;
    min-width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 14px;
  }
}

.footer__privacy {
  color: #071D72;
  position: relative;
  overflow: hidden;
  position: absolute;
  top: -10px;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  right: 30px;
}

@media only screen and (min-width: 1200px) {
  .footer__privacy {
    top: auto;
    right: 0px;
    -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
            transform: translateY(0%);
  }
}

.footer__privacy:before {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 1px;
  width: 100%;
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
  background-color: currentColor;
}

@media (any-hover: hover) {
  .footer__privacy {
    -webkit-transition-duration: 0.3s;
         -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-timing-function: easy;
         -o-transition-timing-function: easy;
            transition-timing-function: easy;
  }
  .footer__privacy:hover:before {
    -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
            transform: scaleX(0);
  }
}

.app-card {
  -webkit-box-shadow: -3px 6px 19px rgba(0, 0, 0, 0.12);
          box-shadow: -3px 6px 19px rgba(0, 0, 0, 0.12);
  background-color: #fff;
  display: inline-block;
}

@media (any-hover: hover) {
  .app-card {
    -webkit-transition-duration: 0.3s;
         -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-timing-function: easy;
         -o-transition-timing-function: easy;
            transition-timing-function: easy;
  }
  .app-card:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }
}

.pagination-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pagination-dots__item {
  width: 11px;
  height: 11px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 50%;
  border: 1px solid #ECF5FB;
  position: relative;
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(1, 0, 0, 1);
  transition: -webkit-transform 0.3s cubic-bezier(1, 0, 0, 1);
  -o-transition: transform 0.3s cubic-bezier(1, 0, 0, 1);
  transition: transform 0.3s cubic-bezier(1, 0, 0, 1);
  transition: transform 0.3s cubic-bezier(1, 0, 0, 1), -webkit-transform 0.3s cubic-bezier(1, 0, 0, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination-dots__item:after {
  content: '';
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  position: absolute;
  border-radius: inherit;
  -webkit-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  width: calc(100% + 1px * 2);
  height: calc(100% + 1px * 2);
  background-color: #071D72;
}

.pagination-dots__active:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.app {
  padding: 40px 0px 80px;
}

@media only screen and (min-width: 1200px) {
  .app {
    padding: 233px 0px 105px;
    background-color: #ECF5FB;
  }
}

.app__inner {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}

@media only screen and (min-width: 768px) {
  .app__inner {
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(2, auto);
  }
}

@media only screen and (min-width: 1200px) {
  .app__inner {
    padding: 62px 289px 30px;
    background-color: #fff;
    row-gap: 50px;
    -webkit-column-gap: 75px;
       -moz-column-gap: 75px;
            column-gap: 75px;
  }
}

.app__left {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  height: auto;
  margin-left: auto;
}

@media only screen and (min-width: 768px) {
  .app__left {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    grid-row: 1 / 3;
    margin-left: 0;
  }
}

.app__heading {
  grid-column: 1 / 3;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media only screen and (min-width: 768px) {
  .app__heading {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    grid-column: 2 / 3;
    align-self: end;
  }
}

.app__social {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .app__social {
    grid-column: 2 / 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    align-self: start;
  }
}

.app__item {
  line-height: 0;
}

.app__item:not(:last-child) {
  margin-bottom: 18px;
}

@media only screen and (min-width: 768px) {
  .app__item:not(:last-child) {
    margin-bottom: 0px;
    margin-right: 34px;
  }
}

.app__item .app-card {
  padding: 17px 20px;
}

@media only screen and (max-width: 1199px) {
  .app__item .app-card img {
    width: 111px;
    height: 28px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media only screen and (min-width: 1200px) {
  .app__item .app-card {
    padding: 31px 22px;
  }
}

.convert .h3-title {
  padding: 12px 45px 21px;
  text-align: center;
}

@media only screen and (min-width: 1200px) {
  .convert .h3-title {
    padding: 25px 125px 25px;
  }
}

.convert .row {
  max-width: 295px;
}

@media only screen and (min-width: 768px) {
  .convert .row {
    max-width: none;
  }
  @supports ((-moz-column-gap: 27px) or (column-gap: 27px)) {
    .convert .row {
      -webkit-column-gap: 27px;
         -moz-column-gap: 27px;
              column-gap: 27px;
    }
  }
  @supports not ((-moz-column-gap: 27px) or (column-gap: 27px)) {
    .convert .row {
      margin-right: calc( 0px - (27px / 2));
      margin-left: calc( 0px - (27px / 2));
    }
    .convert .row > * {
      margin-right: calc(27px / 2);
      margin-left: calc(27px / 2);
    }
  }
}

.convert__inner {
  overflow: visible;
}

.convert__table {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

@media only screen and (min-width: 768px) {
  .convert__table {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-negative: 1;
        flex-shrink: 1;
  }
}

.convert__table.swiper-slide-active:last-child {
  -webkit-transform: translateX(10px);
      -ms-transform: translateX(10px);
          transform: translateX(10px);
}

@media only screen and (min-width: 768px) {
  .convert__table.swiper-slide-active:last-child {
    -webkit-transform: translateX(0px);
        -ms-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.convert__table:not(:last-child) {
  width: calc(100vw - 30px * 3) !important;
  margin-right: 20px;
}

@media only screen and (min-width: 768px) {
  .convert__table:not(:last-child) {
    width: auto !important;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

@media only screen and (min-width: 1200px) {
  .convert__table tr {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media only screen and (min-width: 1200px) {
  .convert__table td,
  .convert__table th {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-preferred-size: 152px;
        flex-basis: 152px;
  }
}

.convert__table thead tr {
  padding: 0px 45px 12px;
}

@media only screen and (min-width: 1200px) {
  .convert__table thead tr {
    padding: 0px 125px 25px;
  }
}

.convert__table thead tr th {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@supports ((-moz-column-gap: 5px) or (column-gap: 5px)) {
  .convert__table thead tr th {
    -webkit-column-gap: 5px;
       -moz-column-gap: 5px;
            column-gap: 5px;
  }
}

@supports not ((-moz-column-gap: 5px) or (column-gap: 5px)) {
  .convert__table thead tr th {
    margin-right: calc( 0px - (5px / 2));
    margin-left: calc( 0px - (5px / 2));
  }
  .convert__table thead tr th > * {
    margin-right: calc(5px / 2);
    margin-left: calc(5px / 2);
  }
}

@media only screen and (min-width: 1200px) {
  @supports ((-moz-column-gap: 13px) or (column-gap: 13px)) {
    .convert__table thead tr th {
      -webkit-column-gap: 13px;
         -moz-column-gap: 13px;
              column-gap: 13px;
    }
  }
  @supports not ((-moz-column-gap: 13px) or (column-gap: 13px)) {
    .convert__table thead tr th {
      margin-right: calc( 0px - (13px / 2));
      margin-left: calc( 0px - (13px / 2));
    }
    .convert__table thead tr th > * {
      margin-right: calc(13px / 2);
      margin-left: calc(13px / 2);
    }
  }
}

@media only screen and (max-width: 1199px) {
  .convert__table thead tr img {
    width: 30px;
    height: 17px;
  }
}

.convert__table tbody tr {
  padding: 13px 45px;
}

@media only screen and (min-width: 1200px) {
  .convert__table tbody tr {
    padding: 27px 125px;
  }
}

.convert .pagination-dots {
  margin-top: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@supports ((-moz-column-gap: 11px) or (column-gap: 11px)) {
  .convert .pagination-dots {
    -webkit-column-gap: 11px;
       -moz-column-gap: 11px;
            column-gap: 11px;
  }
}

@supports not ((-moz-column-gap: 11px) or (column-gap: 11px)) {
  .convert .pagination-dots {
    margin-right: calc( 0px - (11px / 2));
    margin-left: calc( 0px - (11px / 2));
  }
  .convert .pagination-dots > * {
    margin-right: calc(11px / 2);
    margin-left: calc(11px / 2);
  }
}
