@charset "UTF-8";
/*images*/
/*=======================START-MEDIA=====================*/
/*=======================END-MEDIA=====================*/
/* media breakpoint mixin */
/* Single property transition mixin */
/*--------- font-face ---------*/
@font-face {
  font-family: "GothamPro";
  font-display: swap;
  src: url("../fonts/GothamPro/GothamPro.woff") format("woff"), url("../fonts/GothamPro/GothamPro.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Muller";
  font-display: swap;
  src: url("../fonts/Muller/MullerRegular.woff") format("woff"), url("../fonts/Muller/MullerRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Muller";
  font-display: swap;
  src: url("../fonts/Muller/MullerMedium.woff") format("woff"), url("../fonts/Muller/MullerMedium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Muller";
  font-display: swap;
  src: url("../fonts/Muller/MullerBold.woff") format("woff"), url("../fonts/Muller/MullerBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #fff;
  text-rendering: optimizeLegibility;
  -webkit-text-decoration-skip: objects;
          text-decoration-skip: objects;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  min-width: 320px;
  overflow-x: hidden;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  min-height: 100%;
}

html, body {
  height: 100%;
}

audio,
video {
  display: block;
}

section {
  max-width: 100%;
}

a {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a img {
  border: none;
}

ul, ol {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style-type: none;
}

img {
  max-width: 100%;
  display: block;
  border-style: none;
}

input,
textarea,
select {
  vertical-align: middle;
}

form, fieldset {
  margin: 0;
  padding: 0;
  border-style: none;
  width: 100%;
}

input[type="search"],
input[type="text"],
input[type="file"],
input[type="password"],
input[type="submit"],
input[type="email"],
input[type="tel"],
textarea, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  resize: none;
  outline: none;
}

input[type="email"] {
  box-shadow: none;
  -webkit-box-shadow: none;
}

input[type="image"] {
  padding: 0;
  border: none;
}

input[type="submit"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input[type="submit"],
input[type="button"] {
  cursor: pointer;
}

input[type="submit"]:focus,
input[type="button"]:focus {
  outline: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button,
input[type=email]::-webkit-inner-spin-button,
input[type=email]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

button:focus {
  outline: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

p, span, label, h1, h2, h3, h4, h5, h6, b, strong, i, em {
  max-width: 100%;
  word-wrap: break-word;
  white-space: normal;
  margin: 0;
}

div {
  word-wrap: break-word;
  white-space: normal;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

iframe {
  border: none;
}

input::-ms-clear {
  display: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

button {
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  padding: 0px;
}

.btn--full-reset {
  padding: 0;
  border: 0;
  background-color: transparent;
}

.text-clip {
  white-space: nowrap;
  /* Отменяем перенос текста */
  overflow: hidden;
  /* Обрезаем содержимое */
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.grid {
  display: grid;
}

.grid__col-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid__col-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid__col-4 {
  grid-template-columns: repeat(4, 1fr);
}

.grid__col-5 {
  grid-template-columns: repeat(5, 1fr);
}

.grid__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.grid__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.grid__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bg-cover-center__mod {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.flex-wrap {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hidden {
  display: none !important;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.disable {
  pointer-events: none !important;
}

.hand {
  cursor: pointer !important;
}

.tac {
  text-align: center;
}

body {
  font-family: 'Muller';
  font-size: 18px;
  line-height: 1.44;
  color: rgba(31, 35, 69, 0.85);
}

.container {
  max-width: 1540px;
  padding-left: 30px;
  padding-right: 30px;
  margin: auto;
}

.content a {
  color: #071D72;
  position: relative;
  overflow: hidden;
}

.content a:before {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 1px;
  width: 100%;
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
}

@media (any-hover: hover) {
  .content a {
    -webkit-transition-duration: 0.3s;
         -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-timing-function: easy;
         -o-transition-timing-function: easy;
            transition-timing-function: easy;
  }
  .content a:hover {
    -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
  }
}

*:focus, *:focus-visible {
  outline: none !important;
}

h1, h2, h3, h4, h4, h6, .h1-title, .h2-title, .h3-title, .h4-title, .h5-title, .h6-title {
  display: block;
}

h1, .h1-title {
  font-family: 'GothamPro', sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.19;
}

@media only screen and (min-width: 1200px) {
  h1, .h1-title {
    font-size: 65px;
    line-height: 0.94;
  }
}

h2, .h2-title {
  font-family: 'GothamPro', sans-serif;
  font-weight: 400;
  color: #071D72;
  font-size: 24px;
  line-height: 1.08;
}

@media only screen and (min-width: 1200px) {
  h2, .h2-title {
    font-size: 48px;
    line-height: 1.08;
  }
}

h3, .h3-title {
  font-weight: 700;
  color: #071D72;
  font-size: 24px;
  line-height: 1.08;
}

@media only screen and (min-width: 1200px) {
  h3, .h3-title {
    font-size: 20px;
    line-height: 1.45;
  }
}

h4, .h4-title {
  font-weight: 700;
  color: #071D72;
  font-size: 18px;
  line-height: 1.44;
}

@media only screen and (min-width: 1200px) {
  h4, .h4-title {
    font-size: 18px;
    line-height: 1.44;
  }
}

b, .bold {
  font-family: 'Muller', sans-serif;
  font-weight: 700;
  color: #071D72;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.37)), to(rgba(0, 0, 0, 0.37))), rgba(0, 0, 0, 0.37);
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.37), rgba(0, 0, 0, 0.37)), rgba(0, 0, 0, 0.37);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.37), rgba(0, 0, 0, 0.37)), rgba(0, 0, 0, 0.37);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.overlay.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.noscript {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  font-size: 14px;
  color: #8e1f1f;
  background-color: #efafaf;
  text-align: center;
  z-index: 77777;
}

.noscript a {
  margin-left: 3px;
  margin-right: 3px;
  color: #630303;
  text-decoration: underline;
}

@media (any-hover: hover) {
  .noscript a:hover {
    text-decoration: none;
  }
}

.icon {
  fill: currentColor;
  stroke: currentColor;
}

.icon__stroke {
  fill: rgba(255, 255, 255, 0);
}

.header {
  padding: 20px 0px;
}

.header .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .logo img {
  width: 147px;
}

@media only screen and (min-width: 1200px) {
  .header .logo img {
    width: 307px;
  }
}

.header .menu {
  display: none;
}

@media only screen and (min-width: 1200px) {
  .header .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__modal {
  padding-top: 64px;
  max-width: 276px;
  height: 100vh;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  position: absolute;
  right: 0px;
  top: 0px;
  background-color: #fff;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 1000;
  width: 100%;
}

.header__modal.is-open {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
}

.header__modal .menu {
  display: block;
}

.header__modal-close {
  position: absolute;
  right: 16px;
  top: 23px;
  width: 33px;
  height: 33px;
}

.header__burger {
  line-height: 0;
}

@media only screen and (min-width: 1200px) {
  .header__burger {
    display: none;
  }
}

.menu {
  -webkit-box-shadow: 0px 5px 15px 1px silver;
          box-shadow: 0px 5px 15px 1px silver;
}

@media only screen and (min-width: 1200px) {
  .menu {
    -webkit-box-shadow: none;
            box-shadow: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  @supports ((-moz-column-gap: 38px) or (column-gap: 38px)) {
    .menu {
      -webkit-column-gap: 38px;
         -moz-column-gap: 38px;
              column-gap: 38px;
    }
  }
  @supports not ((-moz-column-gap: 38px) or (column-gap: 38px)) {
    .menu {
      margin-right: calc( 0px - (38px / 2));
      margin-left: calc( 0px - (38px / 2));
    }
    .menu > * {
      margin-right: calc(38px / 2);
      margin-left: calc(38px / 2);
    }
  }
}

.menu__item {
  -webkit-box-shadow: 0px -5px 10px -10px silver;
          box-shadow: 0px -5px 10px -10px silver;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media only screen and (min-width: 1200px) {
  .menu__item {
    padding: 0px;
    -webkit-box-shadow: none;
            box-shadow: none;
    position: relative;
  }
}

@media only screen and (min-width: 1200px) and (any-hover: hover) {
  .menu__item {
    -webkit-transition-duration: 0.3s;
         -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-timing-function: ease-in-out;
         -o-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
  }
  .menu__item:hover .menu__level-2 {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .menu__item:hover .icon {
    -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
}

.menu__item .icon {
  -webkit-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
}

@media only screen and (max-width: 1199px) {
  .menu__item .icon {
    width: 16px;
    height: 16px;
  }
}

.menu__item a {
  padding: 9px 0px 9px 22px;
  font-size: 14px;
  line-height: 1.86;
  color: #071D72;
}

@media only screen and (min-width: 1200px) {
  .menu__item a {
    font-size: 22px;
    line-height: 1;
    padding: 10px 0px;
    color: #1F2345;
  }
}

.menu__arrow {
  width: 22px;
  height: 22px;
  margin-left: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
}

.menu__arrow.is-active .icon {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

@media only screen and (max-width: 1200px) {
  .menu__active {
    background-color: #071D72;
  }
  .menu__active a {
    color: #fff;
    pointer-events: none;
  }
}

.menu__level-2 {
  -webkit-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
  -webkit-box-shadow: inset 0px 3px 10px -5px silver;
          box-shadow: inset 0px 3px 10px -5px silver;
  width: 100%;
  padding: 9px 0px;
}

@media only screen and (min-width: 1200px) {
  .menu__level-2 {
    margin-left: 0px;
    -webkit-box-shadow: none;
            box-shadow: none;
    min-width: 0px;
    min-width: 246px;
    width: 100%;
    border-top: 1px solid #071D72;
    position: absolute;
    bottom: 0px;
    padding: 0px;
    -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%);
            transform: translateY(100%);
    left: -35px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    -webkit-box-shadow: -3px 6px 19px rgba(0, 0, 0, 0.12);
            box-shadow: -3px 6px 19px rgba(0, 0, 0, 0.12);
  }
}

@media only screen and (max-width: 1199px) {
  .menu__level-2 {
    opacity: 0;
    -webkit-transform: scaleY(0);
        -ms-transform: scaleY(0);
            transform: scaleY(0);
    visibility: hidden;
    position: absolute;
    width: 0px;
    pointer-events: none;
    max-height: 0;
    -webkit-transform-origin: top;
        -ms-transform-origin: top;
            transform-origin: top;
  }
  .menu__level-2.is-open {
    width: 100%;
    position: static;
    max-height: 1000px;
    -webkit-transform: scaleY(1);
        -ms-transform: scaleY(1);
            transform: scaleY(1);
    visibility: visible;
    pointer-events: auto;
    opacity: 1;
    -webkit-transition: 0.5s ease-in-out visibility, 0.5s ease-in-out opacity, 0.3s ease-in-out visibility, 0.3s ease-in-out transform;
    -o-transition: 0.5s ease-in-out visibility, 0.5s ease-in-out opacity, 0.3s ease-in-out visibility, 0.3s ease-in-out transform;
    transition: 0.5s ease-in-out visibility, 0.5s ease-in-out opacity, 0.3s ease-in-out visibility, 0.3s ease-in-out transform;
  }
}

.menu__level-2 .menu__item {
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media only screen and (min-width: 1200px) {
  .menu__level-2 .menu__item {
    padding: 20px 33px;
  }
}

@media only screen and (min-width: 1200px) and (any-hover: hover) {
  .menu__level-2 .menu__item {
    -webkit-transition-duration: 0.3s;
         -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-timing-function: easy;
         -o-transition-timing-function: easy;
            transition-timing-function: easy;
  }
  .menu__level-2 .menu__item:hover {
    background-color: #ECF5FB;
  }
  .menu__level-2 .menu__item:hover a {
    color: #071D72;
    font-weight: 700;
  }
}

@media only screen and (min-width: 1200px) {
  .menu__level-2 .menu__item a {
    -webkit-transition: inherit;
    -o-transition: inherit;
    transition: inherit;
  }
}

.menu .icon {
  fill: rgba(255, 255, 255, 0);
}
